/* 06.06.2019 */

.badge-nt {
  padding: 1px 9px 2px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  float: right;
}
.badge-nt:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.badge-nt-info {
  background-color: #3a87ad;
}
.badge-nt-info:hover {
  background-color: #2d6987;
}

.barra-botones {
	height: 45px; 
	width: 100%; 
	/* background: silver; */ 
	padding: 5px;
}

.contenido-tarea {
	height: calc(100% - 50px); 
	width: 100%; 
	/* background: AliceBlue; */
	margin-top: 0px;
	padding: 0px;
}

.tarea-enc {
	height: 220px; 
	width: 100%; 
	background: white;
  padding: 0px;
  overflow-y: hidden; 
  overflow-x: hidden;
}

.tarea-det {
	width: 100%; 
	height: calc(100% - 160px); 
	padding: 2px; 
	overflow-y: auto; 
	overflow-x: hidden; 
	/* background: Fuchsia;	*/
}

/* layout */

.c_main {
 display: none;
 width:100%;
 height:100%;
}

#c_header {
	color: #424242;
	background-color: #f5f5f5;
	padding: 1px 1px;
	height: 60px;
  text-align:center;
  width:100%;    
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;    
}

#c_content {
	position: fixed;
    top: 62px;
    bottom: 32px;
    left: 0;
    right: 0;
    background: white;
    padding: 2px;
}

#c_footer{
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;   
    text-align: center;
    background: MidnightBlue;
    color: #ffffff;
    height:30px;
    width:100%;
    padding: 5px 5px 5px 5px;
}

#menu {
  float: left;
  width: 15%;
  height: 100%;
  border-style: none solid none none;
  border-color: #f0f0f0; 
  border-width: thin;
  background: blue;
  padding: 2px;
}

#contenido {
  margin: auto;
  width: 80%;
  height: 100%;
  border-style: none none none none;
  border-color: #7C7C7C;
  border-width: thin;   
  background: white;
  padding: 2px; 
  overflow: auto;  
}

#menu_tareas {
  float: left;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  border-style: none none none none;
  border-color: #f0f0f0; 
  border-width: thin; 
  overflow-y: auto;  
  overflow-x: hidden;
}

/* borrar */
#editar_contenido {
  float: left;
  width: 65%;
  display: inline;
  z-index: 25;  top: 20px; left: 2px;
}

/* ul menu  */
.ul-menu {
  /* border: 0px solid #7C7C7C;
  border-bottom: none; */
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul-menu li {
  background: #FEFEFE;
  cursor: pointer;
  padding: 5px; 
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px; /* future proofing */  
}

.ul-menu li a {
  color: #333;
  display: block;
  padding: .2em 0 .2em .5em;
  text-decoration: none;  
}

.ul-menu li.active {
	background-color: #90CAF9;	
}

/* ul lista  */
.ul-lista {
  border: 0px solid #7C7C7C;
  border-bottom: none;  
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul-lista li {
  background: #FEFEFE;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #ffffff;
  cursor: pointer;
  padding: 5px; 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */  
}

.ul-lista li a {
  color: #333;
  display: block;
  padding: .2em 0 .2em .5em;
  text-decoration: none;  
}

.ul-lista li.active {
	background-color: AntiqueWhite;	
}
    
/* Varios */
.logo {
    width:53px;
    height: 53px;
    float: left;
    padding: 5px 5px;    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;    
}

.logo:hover {
  cursor: pointer;
}

.user_name {
	height: 100%;
	float: left;
	padding-left: 5px;
	display: flex;
	align-items: center;
}

/* *** B */
.tarea-content {
  padding: 10px 10px 10px 10px;
  color: #555;
  background-color: #fefefe; 
  height: auto;  
}

/* bar buttons */
.bar_buttons {
	height: 100%;
	float: right;
	padding-right: 10px;
	display: flex;
	align-items: center;
}

.btn {
  padding: 5px 5px;
  cursor: pointer;
  color: #555;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  background-color: #f3f3f3;
}
.btn.disabled {
  cursor: not-allowed;
  color: #ddd;
  border-color: #ddd;
}
.btn-danger {
  color: #fff;
  border-color: #ab3326;
  background-color: #c0392b;
}
.btn-danger:hover {
  background-color: #ab3326;
}

.btn-primary {
  color: #fff;
  border-color: #0066c0;
  background-color: #0074d9;
}
.btn-primary:hover {
  background-color: #0066c0;
}
.btn-cancel {
  color: #999;
  border-color: #ddd;
}
.btn-cancel:hover {
  background-color: #e6e6e6;
}

.text1 {
  font-size: 14px;
  font-weight: bold;
  color: #01579b;
}

.text2 {
  font-size: 14px;  
  font-weight: normal;
  font-style: italic;
  color: #0e0e0e;
}

.text3 {
  font-size: 12px;
  font-weight: normal;
  /* color: #616161; */
  color: #455a64;
  text-align: center;
  width: 50px;
}

.text_prioridad_normal {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  /* color: #4caf50; */
}

.text_prioridad_media {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  /* color: #01579b; */
}

.text_prioridad_alta {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #bf360c;
}

.title_task {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #263238;
}

/* dialog */

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

.form-profile {
  width: 300px;
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-img:hover {
	cursor: pointer;
}
.title-profile{
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	text-align:left;
	color:#555557;	
}

/* LOGIN */

.c_login {
 display: none;
 width:100%;
 height:100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.account-wall_OLD {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.info1{
	font-family: 'Open Sans', sans-serif;
	font-size:38px;
	color:#555557;	
}

.info2{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#555557;	
}		 

.filterlabel{
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	font-weight:bold;
	float:left;
}		 

/* filtros */
.control-group {
    display: inline-block;
    vertical-align: top;
}

.keep-on-line {
    white-space: nowrap;
}

/* */
.etiqueta_tarea {
	width: 90px; 
	float: left;
	color: #424242;
	background-color: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-align: left;	
	border-radius: 2px;	
}

.task_img {
    width: 16px;
    height: 16px;
    /* margin: 0 auto 10px; */
    /* display: block; */
    display: inline-block;
    /* -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 5px; */
}

/* detalle tarea */
.detail-task {
  width: 800px;
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}

.title-task{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	text-align:center;
	color: #000000;	
}

.title-cell{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	text-align:center;
	color: #37474f;	
	background-color: #fafafa; 
	border-width:thin; 
	border-style: solid solid solid solid; 
	border-color: #f0f0f0;	
}

a.menus {
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none; 
	color: #ffffff; 
}

a.menus:link {
	text-decoration:none; 
	color: #ffffff; 
}

a.menus:visited {
	text-decoration:none; 
	color:#fefefe;
}

a.menus:active {
	text-decoration:none; 
	color: #fefefe; 
}

a.menus:hover {
	text-decoration:none; 
	color: #fefefe; 
}
